<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create ItemInfo</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<h1>Create Part</h1>
<form th:action="@{/iteminfos}" th:object="${info}" method="post">
    <label>Part Number: <input th:field="*{partNumber}" /></label><br/>
    <label>Description:<br/><textarea th:field="*{description}" rows="4"></textarea></label><br/>
    <button type="submit">Save</button>
</form>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
