<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ItemInfo List</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<h1>ItemInfo Directory</h1>
<a th:href="@{/iteminfos/new}">New Part</a>
<table>
  <thead>
  <tr><th>#</th><th>Part Number</th><th>Description</th></tr>
  </thead>
  <tbody>
  <tr th:each="info, idx : ${page.content}">
    <td th:text="${idx.index + 1}">1</td>
    <td>
      <a th:href="@{'/iteminfos/' + ${info.partNumber}}"
         th:text="${info.partNumber}">PN-1</a>
    </td>
    <td th:text="${info.description}">Desc</td>
  </tr>
  </tbody>
</table>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
