<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View ItemInfo</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<h1>Part Details</h1>
<dl>
    <dt>Part Number:</dt><dd th:text="${info.partNumber}"></dd>
    <dt>Description:</dt><dd th:text="${info.description}"></dd>
</dl>
<a th:href="@{/iteminfos}">Back to list</a>
<a th:href="@{'/iteminfos/' + ${info.partNumber} + '/edit'}">Edit</a>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
