<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>View Attendance</title></head>
<body>
<div th:insert="fragments/header :: header"></div>
<h1>Attendance Details</h1>
<dl>
    <dt>Date:</dt>
    <dd th:text="${attendance.workDay.date}">2025-05-10</dd>
    <dt>Employee:</dt>
    <dd>
        <a th:href="@{'/employees/' + ${attendance.user.id}}"
           th:text="${attendance.user.name}">John Doe</a>
    </dd>
    <dt>Status:</dt>
    <dd th:text="${attendance.status}">PRESENT</dd>
    <dt>Comments:</dt>
    <dd th:text="${attendance.comments}">Some note</dd>
</dl>
<a th:href="@{/attendances}">Back to list</a>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
