<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:replace="~{::title}">App</title>
</head>
<body>
<div th:fragment="header">
    <nav>
        <a th:href="@{/workorders}">Work Orders</a> |
        <a th:href="@{/joborders}">Job Orders</a> |
        <!-- Новая навигация для Items -->
        <a th:href="@{/items/stock_egypt}">Stock</a> |
        <a th:href="@{/items/rne}">RNE</a> |
        <a th:href="@{/items/outstanding}">Outstanding</a>
        <a th:href="@{/items/stock_corporate}">Stock Corporate</a>
        <a th:href="@{/items/rne_corporate}">RNE Corporate</a> |
    </nav>
    <hr/>
</div>
</body>
</html>
