<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>RNE Items</title></head>
<body>
<div th:insert="fragments/header :: header"></div>
<h1>RNE Items (USED, ON_STOCK, RETS)</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Item ID</th>
        <th>Catalog Part#</th>
        <th>Description</th>
        <th>Type</th>
        <th>Client Part#</th>
        <th>Serial</th>
        <th>Ownership</th>
        <th>Condition</th>
        <th>Status</th>
        <th>JobOrder ID</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item,iter : ${page.content}">
        <td th:text="${iter.index + 1}">1</td>
        <td th:text="${item.id}">ID</td>
        <td th:text="${item.itemInfo.partNumber}">PN</td>
        <td th:text="${item.itemInfo.description}">Desc</td>
        <td th:text="${item.itemInfo.itemType}">Type</td>
        <td th:text="${item.clientPartNumber}">CPN</td>
        <td th:text="${item.serialNumber}">SN</td>
        <td th:text="${item.ownership}">OWN</td>
        <td th:text="${item.itemCondition}">COND</td>
        <td th:text="${item.itemStatus}">STAT</td>
        <td th:text="${item.jobOrderId}">JO</td>
        <td th:text="${item.comments}">CM</td>
    </tr>
    </tbody>
</table>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
