<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Work Orders</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<h1>Work Orders</h1>
<a th:href="@{/workorders/new}">Create New WorkOrder</a>

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>#</th>
        <th>Number</th>
        <th>Client</th>
        <th>Well</th>
        <th>Request Date</th>
        <th>Delivery Date</th>
        <th>Status</th>
        <th>Requestor</th>
        <th>Comments</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wo, iter : ${page.content}">
        <td th:text="${iter.index + 1}">1</td>
        <td th:text="${wo.workOrderNumber}">WO-001</td>
        <td th:text="${wo.client}">CLIENT</td>
        <td th:text="${wo.well}">Well-1</td>
        <td th:text="${wo.requestDate}">2025-05-10</td>
        <td th:text="${wo.deliveryDate}">2025-05-15</td>
        <td th:text="${wo.status}">CREATED</td>
        <td th:text="${wo.requestor.name}">John Doe</td>
        <td th:text="${wo.comments}">Some comments</td>
        <td>
            <a th:href="@{'/workorders/' + ${wo.id}}">View</a> |
            <a th:href="@{'/workorders/' + ${wo.id} + '/edit'}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <ul>
        <li th:if="${page.hasPrevious()}">
            <a th:href="@{/workorders(page=${page.number-1},size=${page.size})}">Previous</a>
        </li>
        <li th:if="${page.hasNext()}">
            <a th:href="@{/workorders(page=${page.number+1},size=${page.size})}">Next</a>
        </li>
    </ul>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
